{% load staticfiles %}
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>DeadDrop</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/secret.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><span class="dead">DEAD</span> <span class="drop">DROP</span></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Retrieve a Message.</h1>

            <p>Retrieve the content of Message UID: {{ uid }}</p>

            <div class="input-group">
              <span class="input-group-addon" id="key_field">Required</span>
              <input type="text" class="form-control" id="key" placeholder="Message Key" aria-describedby="key_field">
            </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default" id="retrieve">Retrieve</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Paranoia Welcome.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script type="text/javascript">

    		$(document).on('click', '#retrieve', function(e) {

    		var keyValue = $('#key').val();
			var postData = {
				key: keyValue,
			}

			var jqxhr = $.ajax({
				type: "POST",
				url: "/api/v1/decrypt/{{uid}}/",
				processData: false,
				contentType: 'application/json',
				data: JSON.stringify(postData),
				success: function(data) {
					bootbox.dialog({
						message: data['result'],
						title: "Your Message",
					});
				},
			})
			.fail(function() {
				bootbox.dialog({
					message: "Decryption failed. Make sure you entered the correct key, and ensure the UID matches",
					title: "Decryption Failed",
				});
			})

		});
    </script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  

</body></html>